    <div class="jumbotron">
      <div class="container">
        <h1>Benvenuto!</h1>
        <p>(stub) BookChain è un gioco che ti permetterà di scoprire nuovi libri da leggere, in base ai tuoi gusti e inseguendo un'appassionante caccia al tesoro.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Lettore</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="bcpage btn btn-default" href="index.html#reader" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>Biblioteca</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="bcpage btn btn-default" href="index.html#library" role="button">View details &raquo;</a></p>
       </div>
      </div>
    </div> <!-- /container -->