    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3">
          <h3>Libri nelle vicinanze:</h3>
          <ul>
            <li><a href="index.html#book;id=1" class="bcpage">Il Cimitero di Praga</a></li>
            <li><a href="index.html#book;id=2" class="bcpage">Programmazione in Python</a></li>
            <li><a href="index.html#book;id=3" class="bcpage">I giorni dell'eternità</a></li>
          </ul>

          <h3>Giocatori nelle vicinanze:</h3>
          <ul>
            <li><a href="index.html#reader;id=1" class="bcpage">Dalai Lama</a></li>
            <li><a href="index.html#reader;id=2" class="bcpage">Superpippo</a></li>
            <li><a href="index.html#reader;id=3" class="bcpage">John Doe</a></li>
          </ul>
        </div>
        <div class="col-md-9">
          <h2>Inizia subito a giocare</h2>
          <p>Ecco la tua posizione! Sulla mappa puoi vedere le biblioteche più vicine a te ed i libri in gioco...</p>
          <img class="img-responsive" src="img/map2.png" />
        </div>
      </div>
    </div> <!-- /container -->