<!--    <div class="jumbotron">
      <div class="container">
        <h1>Lettore</h1>
        <p>Questa è la pagina dell'utente lettore</p>
      </div>
    </div>
-->

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img class="img-responsive" src="img/avatar1.jpg" alt="Fancy user avatar"/>
        </div>
        <div class="col-md-9">
          <h2 id="bcUserNick">User Nickname</h2>
          
          <p id="bcUserBio">
            My biography lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id malesuada mi. Suspendisse cursus elementum purus, et fringilla nulla accumsan ut. Suspendisse potenti. Quisque fermentum venenatis molestie. Vivamus sagittis nibh in ante volutpat in sollicitudin diam posuere. Sed cursus varius gravida. Fusce tincidunt eros vel sem vulputate a ultricies sapien viverra. Vestibulum tincidunt elementum odio, at luctus erat gravida a. Nam blandit tellus eu libero porta quis euismod lorem convallis. Ut sit amet luctus tortor. Donec ac nulla vitae urna pretium suscipit. Curabitur eu accumsan tortor. Cras non quam tortor, eu bibendum odio. Vivamus aliquet suscipit est vel luctus. Ut nec felis nec metus faucibus bibendum placerat ut magna. Aliquam erat volutpat.</p>
        </div>
        
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="well">
            <p>Libri letti: <span id="bcBooksRead">XX</span></p>
            <p>Bookmark scoperti: <span id="bcBooksDiscovered">YY</span></p>
          </div>

        </div>
        <div class="col-md-9">          
          <h3>Bookmark recenti</h3>

          <ul>

            <li><a href="index.html#book;id=1" class="bcpage">Il Cimitero di Praga</a></li>
            <li><a href="index.html#book;id=2" class="bcpage">Programmazione in Python</a></li>
            <li><a href="index.html#book;id=3" class="bcpage">I giorni dell'eternità</a></li>
          </ul>
        </div>

        <div class="col-md-3">
        </div>
        <div class="col-md-9">          
          <h3>Biblioteche recenti</h3>

          <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>consectetur adipiscing elit</li>
            <li>Maecenas id malesuada mi.</li>
          </ul>
        </div>
        
      </div>
    </div>